docuSignTabsJSONs=[ \
  "\{\n\t\"formInstanceId\":\ \"35198\",\n\t\"data\":\ \{\n\t\t\"onboardingApplication\":\ \{\n\t\t\t\"acceptFieldReferences\":\ [\n\t\t\t\t\"name\",\n\t\t\t\t\"email\"\n\t\t\t],\n\t\t\t\"docuSignTabs\":\ \{\n\t\t\t\t\t\"checkboxTabs\":\ [],\n\t\t\t\t\t\"signHereTabs\":\ [\n\t\t\t\t\t\t\{\n\t\t\t\t\t\t\t\"anchorString\":\ \"Sign\ here\",\n\t\t\t\t\t\t\t\"anchorYOffset\":\ \"-30\",\n\t\t\t\t\t\t\t\"anchorXOffset\":\ \"-30\",\n\t\t\t\t\t\t\t\"anchorIgnoreIfNotPresent\":\ \"false\",\n\t\t\t\t\t\t\t\"anchorUnits\":\ \"pixels\"\n\t\t\t\t\t\t\}\n\t\t\t\t\t],\n\t\t\t\t\"textTabs\":\ [],\n\t\t\t\t\"dateTabs\":\ []\n\t\t\t\}\n\t\t\}\n\t\}\n\}", \
  ]
formPDFFieldsMappingJSONs=[ \
  "\{\n\t\"formInstanceId\":\ \"35198\",\n\t\"data\":\ \{\n\t\t\"name\":\ \{\n\t\t\t\"anchorString\":\ \"Name\",\n\t\t\t\"anchorXOffset\":\ \"30\",\n\t\t\t\"anchorYOffset\":\ \"-5\",\n\t\t\t\"height\":\ \"14\",\n\t\t\t\"name\":\ \"name\",\n\t\t\t\"required\":\ \"true\",\n\t\t\t\"tabLabel\":\ \"Name\",\n\t\t\t\"width\":\ \"50\"\n\t\t\},\n\t\t\"email\":\ \{\n\t\t\t\"anchorString\":\ \"Email\",\n\t\t\t\"anchorXOffset\":\ \"30\",\n\t\t\t\"anchorYOffset\":\ \"-5\",\n\t\t\t\"height\":\ \"14\",\n\t\t\t\"name\":\ \"email\",\n\t\t\t\"required\":\ \"true\",\n\t\t\t\"tabLabel\":\ \"Email\",\n\t\t\t\"width\":\ \"50\"\n\t\t\}\t\t\n\t\}\n\}", \
  ]
pdfTemplateFileNames=[ \
  "\{\n\ \ \"formInstanceId\":\ \"35198\",\n\ \ \"data\":\ \"onboarding-application.pdf\"\n\}", \
  ]
pdfTemplatesFolderId=L"35291"
pdfTemplatesGroupId=L"35071"
